<%- include('../includes/header'); %>
<link rel="stylesheet" href="/css/home.css">
<style>
	.form {
		margin: 0 0 1em 0;
		padding: 10px;
		background: rebeccapurple;
		border-radius: 5px;
	}
</style>
</head>

<body>

	<%- include('../admin/partials/side-nav', {data: name}); %>
	<%- include('../admin/partials/nav-bar.ejs',{data: navigation}); %>


	<main>

		<div class="row">
			<div id="leaves" class="col s12">

				<ul class="collapsible">
					<li>
						<div class="collapsible-header"><i class="material-icons">details</i>Leaves Requests</div>

						<div class="collapsible-body">
							<%- include('./leave-requests.ejs'); %>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">forum</i>Request A Leave</div>
						<div class="collapsible-body">
							<div class="container" id="leave_request">
								<h5>Request a Leave</h5>
								<br />
								<div class="row">

									<form class="col s12" method="POST" action="/leaves" name="leave_request_form">
										<div class="row">
											<div class="input-field col s4">
												<i class="material-icons prefix">account_circle</i>
												<input disabled id="icon_prefix" type="text" name="employee_name"
													class="validate" value="<%= name %>">
												<label for="icon_prefix">First Name</label>
											</div>
											<div class="input-field col s4">
												<i class="material-icons prefix">phone</i>
												<input id="icon_telephone" required type="tel" name="employee_phone"
													class="validate" value="<%= phone %>">
												<label for="icon_telephone">Emergency Telephone</label>
											</div>
											<div class="input-field col s4">
												<i class="material-icons prefix">email</i>
												<input id="icon_telephone" name="employee_email" disabled type="tel"
													class="validate" value="<%= email %>">
												<label for="icon_telephone">Email</label>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix">business_center</i>
												<select name="leave_type" required>
													<option value="" disabled selected>Choose Leave Type</option>
													<% if(prefernces.length) {
													for(var i=0;i< prefernces.length; i++) { %>
													<%= prefernces[i].dataValues.leave_type.id %>
													<option value="<%= prefernces[i].dataValues.leave_type.id %>">
														<%= prefernces[i].dataValues.leave_type.name %></option>
													<% }
													} %>
												</select>
												<label>Leave Type</label>
											</div>
										</div>
										<div class="row">
											<div class=" input-field col s4">
												<i class="material-icons prefix">last_page</i>
												<input placeholder="From" required id="first_name" name="from_date"
													type="date" class="validate">
												<label for="first_name">From</label>
											</div>
											<div class="input-field col s4">
												<i class="material-icons prefix">first_page</i>
												<input placeholder="To" required name="to_date" id="first_name"
													type="date" class="validate">
												<label for="first_name">To</label>
											</div>
											<div class="input-field col s4">
												<i class="material-icons prefix">email_attach</i>
												<input disabled id="supervisor_email" type="text"
													name="supervisor_email" class="validate"
													value="<%= supervisor_email %>">
												<label for="supervisor_email">supervisor_email</label>

											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix">mode_edit</i>
												<textarea id="comments" required class="materialize-textarea"
													data-length="120" name="comments"></textarea>
												<label for="comments">Comments</label>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<button class="btn waves-effect waves-light right" type="submit"
													value="Add">Submit
													<i class="material-icons right">check</i>
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
					</li>
					<li class="active">
						<div class="collapsible-header"><i class="material-icons">hourglass_empty</i>Leave History</div>
						<div class="collapsible-body">
								<%- include('./leave-history.ejs'); %>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">refresh</i>Remaining Leaves</div>
						<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
					</li>
				</ul>
			</div>
		</div>
	</main>


	<%- include('../includes/footer'); %>


	<script>
		$(document).ready(function () {
			$('.collapsible').collapsible();
			$('select').formSelect();
			$('input#input_text, textarea#comments').characterCounter();
			M.textareaAutoResize($('#textarea1'));
			var elems = document.querySelectorAll('.modal');
			var instances = M.Modal.init(elems, {
				dismissible: true,
				outDuration: 300,
				startingTop: '30%',
				endingTop: '20%'
			});
			M.updateTextFields();
			$('#leave_request').on('click', 'a.modal-trigger', function () {
				var $leave_request_id = $(this).data('id') // Find the row
				console.log('i am clicked', $leave_request_id)
				// modal population.
				document.querySelector('#accept_leave_confirmation').innerHTML =
					`<a href="/leave/accept/${$leave_request_id}" class="modal-close waves-effect waves-green btn-flat" id='${$leave_request_id}'>Agree</a>`;
				`<a href="#!" class="modal-close waves-effect waves-green btn-flat" id='${$leave_request_id}'>Disagree</a>`;
			})
			$('#leave_request').on('click', 'a.modal-trigger', function () {
				var $leave_request_id = $(this).data('id') // Find the row
				console.log('rejection btn clicked', $leave_request_id)
				document.querySelector('#leave_request_id').value = $leave_request_id
			})
		});
	</script>