<%- include('../includes/header'); %>
<link rel="stylesheet" href="/css/home.css">
<style>
	.form {
		margin: 0 0 1em 0;
		padding: 10px;
		background: rebeccapurple;
		border-radius: 5px;
	}
</style>
</head>

<body>

	<%- include('../admin/partials/side-nav', {data: name}); %>
	<%- include('../admin/partials/nav-bar.ejs',{data: navigation}); %>


	<main>
		<!-- Modal Structure for Acceptance-->
		<div id="accept_leave" class="modal">
			<div class="modal-content">
				<h4>Leave Acceptance Confirmation</h4>
				<p>Do you want to accept leave of the employee?</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Disagree</a>
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
			</div>
		</div>

		<!-- Modal Structure for Rejection -->
		<div id="reject_leave" class="modal">
			<div class="modal-content">
				<h4>Leave Rejection Confirmation</h4>
				<p>Are you sure to reject leave of the employee?</p>
			</div>
			<div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat">Disagree</a>
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
			</div>
		</div>
		<div class="row">
			<div id="leaves" class="col s12">

				<ul class="collapsible">
					<li class="active">
						<div class="collapsible-header"><i class="material-icons">details</i>Leaves Requests</div>

						<div class="collapsible-body">
							<div class="container" id="leave_request">
								<h5>Employee Leaves Requests</h5>
								<br />
								<ul class="collection">
									<% if(leave_requests.length){
					
  									for(var i = 0; i< leave_requests.length; i++) {  
										  for(var j=0; j< leave_requests[i].leaves.length; j++) {  %>

									<li class="collection-item avatar" id=<%= leave_requests[i].id %>>
										<img src="/default-user.jpg" alt="" class="circle">
										<span class="title"><b><%= leave_requests[i].name %></b> <br>
											<%= leave_requests[i].email %></span>
										<p><b>Dates:</b> <%= leave_requests[i].leaves[j].from_date %> to
											<%= leave_requests[i].leaves[j].to_date %> <br>
											<b>Reason:</b> <%= leave_requests[i].leaves[j].comments %> <br>
											**I don't understand this situation, so I am refering it to high
											authorituies.** <br>
											<a class="waves-effect waves-light btn"><i
													class="material-icons right">near_me</i>Refer</a>
										</p>
										<div class="secondary-content" id=<%= leave_requests[i].leaves[j].id %>>
											<a class="waves-effect waves-light btn red modal-trigger" href="#reject_leave" ><i
													class="material-icons left">cancel</i>Reject</a>
											<a class="waves-effect waves-light btn modal-trigger" href="#accept_leave"
												id=<%= leave_requests[i].leaves[j].id %>> <i
													class="material-icons right">check</i>Accept</a>
										</div>
									</li>
									<% } } } %>

								</ul>
							</div>
						</div>
					</li>
					<li class="active">
						<div class="collapsible-header"><i class="material-icons">forum</i>Request A Leave</div>
						<div class="collapsible-body">
							<div class="container" id="leave_request">
								<h5>Request a Leave</h5>
								<br />
								<div class="row">

									<form class="col s12" method="POST" action="/leaves" name="leave_request_form">
										<div class="row">
											<div class="input-field col s4">
												<i class="material-icons prefix">account_circle</i>
												<input disabled id="icon_prefix" type="text" name="employee_name"
													class="validate" value="<%= name %>">
												<label for="icon_prefix">First Name</label>
											</div>
											<div class="input-field col s4">
												<i class="material-icons prefix">phone</i>
												<input id="icon_telephone" required type="tel" name="employee_phone"
													class="validate" value="<%= phone %>">
												<label for="icon_telephone">Emergency Telephone</label>
											</div>
											<div class="input-field col s4">
												<i class="material-icons prefix">email</i>
												<input id="icon_telephone" name="employee_email" disabled type="tel"
													class="validate" value="<%= email %>">
												<label for="icon_telephone">Email</label>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix">business_center</i>
												<select name="leave_type" required>
													<option value="" disabled selected>Choose Leave Type</option>
													<% if(prefernces.length) {
													for(var i=0;i< prefernces.length; i++) { %>
													<%= prefernces[i].dataValues.leave_type.id %>
													<option value="<%= prefernces[i].dataValues.leave_type.id %>">
														<%= prefernces[i].dataValues.leave_type.name %></option>
													<% }
													} %>
												</select>
												<label>Leave Type</label>
											</div>
										</div>
										<div class="row">
											<div class=" input-field col s4">
												<i class="material-icons prefix">last_page</i>
												<input placeholder="From" required id="first_name" name="from_date"
													type="date" class="validate">
												<label for="first_name">From</label>
											</div>
											<div class="input-field col s4">
												<i class="material-icons prefix">first_page</i>
												<input placeholder="To" required name="to_date" id="first_name"
													type="date" class="validate">
												<label for="first_name">To</label>
											</div>
											<div class="input-field col s4">
												<i class="material-icons prefix">email_attach</i>
												<input disabled id="supervisor_email" type="text"
													name="supervisor_email" class="validate"
													value="<%= supervisor_email %>">
												<label for="supervisor_email">supervisor_email</label>

											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix">mode_edit</i>
												<textarea id="comments" required class="materialize-textarea"
													data-length="120" name="comments"></textarea>
												<label for="comments">Comments</label>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<button class="btn waves-effect waves-light right" type="submit"
													value="Add">Submit
													<i class="material-icons right">check</i>
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">hourglass_empty</i>Leave Status</div>
						<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">refresh</i>Remaining Leaves</div>
						<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
					</li>
				</ul>
			</div>
		</div>
	</main>


	<%- include('../includes/footer'); %>


	<script>
		$(document).ready(function () {
			$('.collapsible').collapsible();
			$('select').formSelect();
			$('#textarea1').val('New Text');
			$('input#input_text, textarea#comments').characterCounter();
			M.textareaAutoResize($('#textarea1'));
			var elems = document.querySelectorAll('.modal');
			var instances = M.Modal.init(elems, {
				dismissible: true,
				outDuration: 300,
				startingTop: '30%',
				endingTop: '20%'
			});
		});
	</script>