<%- include('../includes/header'); %>
<link rel="stylesheet" href="/css/home.css">
<style>
	.form {
		margin: 0 0 1em 0;
		padding: 10px;
		background: rebeccapurple;
		border-radius: 5px;
	}
</style>
</head>

<body>

	<%- include('../admin/partials/side-nav', {data: name}); %>
	<%- include('../admin/partials/nav-bar.ejs',{data: navigation}); %>
	<main>
		<div class="row">
			<div id="leaves" class="col s12">

				<ul class="collapsible">
					<li>
						<div class="collapsible-header"><i class="material-icons">details</i>Leaves</div>
						<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
					</li>
					<li class="active">
						<div class="collapsible-header"><i class="material-icons">forum</i>Leave Request</div>
						<div class="collapsible-body">
							<div class="container" id="leave_request">
								<h5>Request a Leave</h5>
								<br />
								<div class="row">

									<form class="col s12" method="POST" action="/leaves" name="leave_request_form">
										<div class="row">
											<div class="input-field col s4">
												<i class="material-icons prefix">account_circle</i>
												<input disabled id="icon_prefix" type="text" name="employee_name"
													class="validate" value="<%= name %>">
												<label for="icon_prefix">First Name</label>
											</div>
											<div class="input-field col s4">
												<i class="material-icons prefix">phone</i>
												<input id="icon_telephone" required type="tel" name="employee_phone"
													class="validate" value="<%= phone %>">
												<label for="icon_telephone">Emergency Telephone</label>
											</div>
											<div class="input-field col s4">
												<i class="material-icons prefix">email</i>
												<input id="icon_telephone" name="employee_email" disabled type="tel"
													class="validate" value="<%= email %>">
												<label for="icon_telephone">Email</label>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix">business_center</i>
												<select name="leave_type" required>
													<option value="" disabled selected>Choose Leave Type</option>
													<% if(prefernces.length) {
													for(var i=0;i< prefernces.length; i++) { %>
													<%= prefernces[i].dataValues.leave_type.id %>
													<option value="<%= prefernces[i].dataValues.leave_type.id %>">
														<%= prefernces[i].dataValues.leave_type.name %></option>
													<% }
													} %>
												</select>
												<label>Leave Type</label>
											</div>
										</div>
										<div class="row">
											<div class=" input-field col s4">
												<i class="material-icons prefix">last_page</i>
												<input placeholder="From" required id="first_name" name="from_date"
													type="date" class="validate">
												<label for="first_name">From</label>
											</div>
											<div class="input-field col s4">
												<i class="material-icons prefix">first_page</i>
												<input placeholder="To" required name="to_date" id="first_name"
													type="date" class="validate">
												<label for="first_name">To</label>
											</div>
											<div class="input-field col s4">
												<i class="material-icons prefix">email_attach</i>
												<select>
													<option value="" disabled selected>Choose your option</option>
													<% if(supervisors.length> 0){
													for(var i=0; i< supervisors.length; i++){ %>
													<option value=<%= supervisors[i] %>> <%= supervisors[i] %></option>
													<% }
												} %>
													<label for="supervisor_email">Supervisor</label>
												</select>


											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<i class="material-icons prefix">mode_edit</i>
												<textarea id="comments" required class="materialize-textarea"
													data-length="120" name="comments"></textarea>
												<label for="comments">Comments</label>
											</div>
										</div>
										<div class="row">
											<div class="input-field col s12">
												<button class="btn waves-effect waves-light right" type="submit"
													value="Add">Submit
													<i class="material-icons right">check</i>
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">hourglass_empty</i>Leave Status</div>
						<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">refresh</i>Remaining Leaves</div>
						<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
					</li>
				</ul>
			</div>
		</div>
	</main>


	<%- include('../includes/footer'); %>


	<script>
		$(document).ready(function () {
			$('.collapsible').collapsible();
			$('select').formSelect();
			$('#textarea1').val('New Text');
			$('input#input_text, textarea#comments').characterCounter();
			M.textareaAutoResize($('#textarea1'));
		});
	</script>