<div class="container" id="leave_history">
	<!-- accepted leaves -->
	<ul class="collection with-header">
		<li class="collection-header  green">
			<h6><b> Accepted Leaves </b></h6>
		</li>

		<% if(leaveDetails) {
		
		for(var i=0; i< leaveDetails.length; i++){ 
			if(leaveDetails[i].leave_request_status.status === 'Accepted'){
			%>
		<li class="collection-item"> You applied for <b> <%= leaveDetails[i].leave_type.name %> </b> leave from <b>
				<%= leaveDetails[i].from_date%> </b> till
			<b><%= leaveDetails[i].to_date %></b>. Reason for <b> <%= leaveDetails[i].days_applied %></b> days leave you
			gave is <b><%= leaveDetails[i].comments%></b>.
			By Reviewing your application, your supervisor has accepted leave</li>
		<%
									}}} else { %>
		No Accpted Leaves
		<% }%>
	</ul>
	<!-- rejected leaves -->
	<ul class="collection with-header">
		<li class="collection-header red">
			<h6><b> Rejected Leaves </b></h6>
		</li>

		<% if(leaveDetails){ 
		
		for(var i=0; i< leaveDetails.length; i++){ 
			if(leaveDetails[i].leave_request_status.status === 'Rejected'){
			%>
		<li class="collection-item"> You applied for <b> <%= leaveDetails[i].leave_type.name %> </b> leave from <b>
				<%= leaveDetails[i].from_date%> </b> till
			<b><%= leaveDetails[i].to_date %></b>. Reason for <b> <%= leaveDetails[i].days_applied %></b> days leave you
			gave is <b><%= leaveDetails[i].comments%></b>.
			By Reviewing your application, your supervisor has rejected leave becasue
			<%=leaveDetails[i].rejection_reason %></li>
		<%
									}} }else { %>
		No rejected Leaves
		<% }%>
	</ul>
	<!-- pending leaves -->
	<ul class="collection with-header">
		<li class="collection-header orange">
			<h6><b> Pending Leaves </b></h6>
		</li>
		<% if(leaveDetails){
		for(var i=0; i< leaveDetails.length; i++){ 
			if(leaveDetails[i].leave_request_status.status === 'Pending'){
			%>
		<li class="collection-item">You applied for <b> <%= leaveDetails[i].leave_type.name %> </b> leave from <b>
				<%= leaveDetails[i].from_date%> </b> till
			<b><%= leaveDetails[i].to_date %></b>. Reason for <b> <%= leaveDetails[i].days_applied %></b> days leave you
			gave is <b><%= leaveDetails[i].comments%></b>.
			Your application is still in process and waiting for your supervisor approval.</li>
		<%
									}} }else {%>
		No Pending Leaves
		<% }%>
	</ul>
</div>