<%- include('../includes/header'); %>

<script>
	
	$(document).ready(function () {
		Materialize.toast('Ready', 4000)
	});

</script>
<style>
	body {
		height: 50em;
		background: #f1f1f1;
	}

	.navbar-fixed {
		height: auto !important;
	}

	nav {
		height: auto;
	}

	.mb-0 {
		margin-bottom: 0px;
	}


	.pt-10 {
		padding-top: 10em;
	}

	.tabs .indicator {
		background-color: #fff;
	}

	.header {
		margin: 1em 0em;
		font-weight: 600;
		color: #333;
		text-transform: uppercase;
	}
</style>
</head>

<body>
	<%- include('../admin/partials/side-nav'); %>

	<%- include('../admin/partials/nav-bar.ejs'); %>

	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper blue" style="margin-left: 16%;">
				<div class="row mb-0">
					<div class='col s12 m6 l4 offset-l2'>
						<ul class="tabs blue">
							<li class="tab col s1 "><a href="#grades" class='active white-text'>Grades</a></li>
							<li class="tab col s1"><a class=" white-text" href="#allowances">Allowance</a></li>
							<li class="tab col s1"><a href="#test3" class='white-text'>Results</a></li>
						</ul>
					</div>
				</div>

			</div>
		</nav>
	</div>


	<div class="container pt-11">
		<div class="row card" style="margin-left: 12%;">
			<div id="grades" class="col s12">
				<h3 class='header' style="padding-top: 2%;">Grades</h3>
				<%- include('./grades/index', {data: allowances}); %>

			</div>
			<div id="allowances" class="col s12">
				<h3 class='header' style="padding-top: 2%;">Allowances</h3>
				<%- include('./allowances/index', {data: allowances}); %>
			</div>
			<div id="test3" class="col s12">
				<h3 class='header' style="padding-top: 2%;">Results</h3>

				<div class="progress">
					<div class="indeterminate"></div>
				</div>
			</div>
		</div>
	</div>
	<%- include('../includes/footer'); %>