<%- include('../includes/header'); %>
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/logs.css">
<link rel="stylesheet" href="/css/user_profile.css">
</head>

<body>

	<%- include('../admin/partials/side-nav', {data: name}); %>

	<%- include('../admin/partials/nav-bar.ejs',{data: navigation}); %>
	<main>
		<% if(errorMessage) { %>
		<div class="col s8 user-message user-message--error"><%= errorMessage %>
		</div>
		<% } %>
		<% var d = 's4' %>
		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<% if(navigation.role == 'Admin' || designation === 'HR') { %>
					<li class="tab col s3"><a class="active" href="#grades">Grades</a></li>
					<li class="tab col s3"><a href="#allowances">Allowance</a></li>
					<li class="tab col s3"><a href="#funds">Funds</a></li>
					<li class="tab col s3"><a href="#attendance">Attendance</a></li>
					<% } else { %>
					<li class="tab col s4"><a class="active" href="#grades">Grades</a></li>
					<li class="tab col s4"><a href="#allowances">Allowance</a></li>
					<li class="tab col s4"><a href="#funds">Funds</a></li>
					<% } %>
				</ul>
			</div>
		</div>
		<div class="container pt-11">
			<div class="row card">
				<div id="grades" class="col s12">
					<h3 class='header'>Grades</h3>
					<%- include('./grades/index', {data: allowances}); %>
				</div>
				<div id="allowances" class="col s12">
					<h3 class='header'>Allowances</h3>
					<%- include('./allowances/index'); %>
				</div>
				<div id="funds" class="col s12">
					<h3 class='header'>Company Funds</h3>
					<%- include('./funds/index'); %>
				</div>
				<% if(navigation.role == 'Admin' || designation === 'HR') {%>
				<div id="attendance" class="col s12">
					<h3 class='header'>Attendance</h3>
					<%- include('./attendance/index'); %>
				</div>
				<% } %>
			</div>
		</div>
		<%- include('../audit-logs/logs', {data: logsData}); %>
	</main>


	<%- include('../includes/footer'); %>

	<script>
		$(document).ready(function () {
			$('.tabs').tabs();
			M.toast({
				html: 'Ready!'
			})
		});
	</script>