<!-- 


 -->
<%- include('../includes/header'); %>
<style>
	body {
		height: 50em;
	}

	.navbar-fixed {
		height: auto !important;
	}

	nav {
		height: auto;
	}

	.mb-0 {
		margin-bottom: 0px;
	}


	.pt-10 {
		padding-top: 10em;
	}

	.tabs .indicator {
		background-color: white;
	}

	.header {
		margin: 1em 0em;
		font-weight: 600;
		color: #333;
		text-transform: uppercase;
	}
</style>
<script>
	$(document).ready(function () {
		$('.tabs').tabs();
		M.toast({
			html: 'Ready!'
		})
	});
</script>

</head>

<body>

	<%- include('../admin/partials/side-nav'); %>

	<%- include('../admin/partials/nav-bar.ejs'); %>

	<div class="row" style="margin-left: 16%;">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a class="active" href="#grades">Grades</a></li>
				<li class="tab col s3"><a href="#allowances">Allowance</a></li>
				<li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
			</ul>

		</div>


	</div>


	<div class="container pt-11">
		<div class="row card" style="margin-left: 5%;">
			<div id="grades" class="col s12">
				<h3 class='header' style="padding-top: 2%;">Grades</h3>
				<%- include('./grades/index', {data: allowances}); %>

			</div>
			<div id="allowances" class="col s12">
				<h3 class='header' style="padding-top: 2%;">Allowances</h3>
				<%- include('./allowances/index'); %>
			</div>
			<div id="test3" class="col s12">
				<h3 class='header' style="padding-top: 2%;">Results</h3>

				<div class="progress">
					<div class="indeterminate"></div>
				</div>
			</div>
		</div>
<<<<<<< HEAD

	</div>
	<div class="col-12" style="margin-left: 16%;">
		<%- include('../audit-logs/logs', {data: logsData}); %>
=======
	
>>>>>>> a40dbf3e1cab105bd696ec451da39aff34d3946e
	</div>

	<div class="col-12" style="margin-left: 5%;">
			<%- include('../audit-logs/logs', {data: logsData}); %>
		</div>


	<%- include('../includes/footer'); %>