</head>

<body>
	<!-- Modal Structure -->
	<div id="del-grade-modal" class="modal">
		<div class="modal-content">
			<h4>Confirmation</h4>
			<p>Are you sure?</p>
		</div>
		<div class="modal-footer" id="del-confirm-fund-modal">

		</div>
	</div>
	<%- include('../../admin/partials/side-nav'); %>
	<div style="padding-left: 1%;">
		<a class="btn-floating btn-large  waves-effect waves-light indigo-text text-lighten-1"
			href="/settings/funds/add"><i class="material-icons">add</i></a>
		<table class="striped responsive-table" id="fund_table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Amount</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% if(funds.length){
  					for(var i = 0; i< funds.length; i++) {%>
				<tr id="fund_id_<%=funds[i].id %>" data-fund-id="<%=funds[i].id %>" data-fund-name="<%= funds[i].name%>" data-fund-desc="<%= funds[i].description%>" data-fund-amount="<%= funds[i].amount%>">
					<td><%= funds[i].id%></td>
					<td><%= funds[i].name%></td>
					<td><%= funds[i].description%></td>
					<td><%= funds[i].amount%></td>
					<td>
						<a class="modal-trigger" href="#funds-edit-modal" id="edit-modal"><i
								class="indigo-text text-lighten-1 material-icons">edit</i></a>
						<%- include('./edit.ejs', {id: funds[i].id}); %>
						<a href="#del-grade-modal" class="modal-trigger"><i
								class="red-text text-lighten-1 material-icons">delete</i></a>
					</td>
				</tr>
				<% }

  					}else{ %>
				<tr>
					<td colspan="3">No Funds</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<br>
		<br>
	</div>

	<script>
		$(document).ready(function () {
			var elems = document.querySelectorAll('.modal');
			var instances = M.Modal.init(elems, {
				dismissible: true
			});

			$('#fund_table tbody').on('click', 'a.modal-trigger', function () {
				var $row = $(this).closest("tr"); // Find the row
				var $fundId = $row.find("#fund_id").text();
				console.log('fundId', $fundId)
				// modal population.
				document.querySelector('#del-confirm-fund-modal').innerHTML =
					`<a href="/settings/fund/delete/${$fundId}" class="modal-close waves-effect waves-green btn-flat" id='${$fundId}'>Agree</a>`;
			})
			$('#fund_table tbody').on('click', '#edit-modal', function () {
				var td = $(this).parents('tr').find('td:lt(4)');
				var $row = $(this).closest("tr"); // Find the row
				var $id = $row.find("#fund_id").text();
				console.log($row);
				const id = $row.attr('data-fund-id');
				const name = $row.attr('data-fund-name');
				const desc = $row.attr('data-fund-desc');
				const amount = $row.attr('data-fund-amount');
				$('#fund_id_edit').val(id);
				$('#fund_name_edit').val(name);
				$('#fund_description_edit').val(desc);
				$('#fund_amount_edit').val(amount);
				$('#old_record_edit').val(JSON.stringify({
					id: parseInt(id),
					name,
					description: desc,
					amount
				}))
			})
		})
	</script>