<style>
	footer {
		padding-left: 240px
	}

	@media only screen and (max-width: 992px) {
		footer {
			padding-left: 0;
		}

	}

	.modal-body div {
		float: left;
		width: 100%
	}

	.modal-body div p {
		float: left;
		width: 20%;
		font-weight: 600;
	}

	.modal-body div span {
		float: left;
		width: 80%
	}

	.footer-copyright .container,
	.footer-copyright .container a {
		color: #BCC2E2;
	}
</style>

</head>

<body>
	<!-- Modal Structure -->
	<div id="modal2" class="modal">
		<div class="modal-content">
			<h4>Delete Allowance</h4>
			<p>Are you sure to delete allowance?</p>
		</div>
		<div class="modal-footer" id='del-allowance-confirm-modal'>
		</div>
	</div>


	<%- include('../../admin/partials/side-nav'); %>
	<div style="padding-left: 1%;">

		<a class="btn-floating btn-large  waves-effect waves-light indigo-text text-lighten-1"
			href="/settings/allowances/add"><i class="material-icons">add</i></a>
		<table class="striped responsive-table" id="allowance_table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Amount</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% if(allowances.length){

  for(var i = 0; i< allowances.length; i++) {%>
				<tr>
					<td id="allowance_id"><%= allowances[i].id%></td>
					<td><%= allowances[i].name%></td>
					<td><%= allowances[i].description%></td>
					<td><%= allowances[i].amount%></td>
					<td>

						<a class="modal-trigger" href="#allowance-edit-modal" id="edit-modal"><i
								class="indigo-text text-lighten-1 material-icons">edit</i></a>
						<%- include('./edit.ejs', {id: allowances[i].id}); %>

						<a href="#modal2" class="modal-trigger"><i
								class="red-text text-lighten-1 material-icons">delete</i></a>
					</td>
				</tr>
				<% }

   }else{ %>
				<tr>
					<td colspan="3">No Allowances</td>
				</tr>
				<% } %>
			</tbody>
		</table>

		</br>
		</br>
		</br>
		</br>
<<<<<<< HEAD

=======
		
>>>>>>> a40dbf3e1cab105bd696ec451da39aff34d3946e
	</div>

	<script>
		$(document).ready(function () {
			var elems = document.querySelectorAll('.modal');
			var instances = M.Modal.init(elems, {
				dismissible: true
			});

			$('#allowance_table tbody').on('click', 'a.modal-trigger', function () {
				var $row = $(this).closest("tr"); // Find the row
				var $text = $row.find("#allowance_id").text();
				// modal population.
				document.querySelector('#del-allowance-confirm-modal').innerHTML =
					`<a href="/settings/allowance/delete/${$text}" class="modal-close waves-effect waves-green btn-flat" id='${$text}'>Agree</a>`;
			})
			$('#allowance_table tbody').on('click', '#edit-modal', function () {
				var td = $(this).parents('tr').find('td:lt(4)');
				var $row = $(this).closest("tr"); // Find the row
				var $id = $row.find("#allowance_id").text();
				$('#allowance_name').val($(td[1]).text());
				$('#allowance_description').val($(td[2]).text());
				$('#allowance_amount').val($(td[3]).text());
			})

		})
	</script>