</head>

<body>
	<!-- Modal Structure -->
	<div id="modal2" class="modal">
		<div class="modal-content">
			<h4>Delete Allowance</h4>
			<p>Are you sure to delete allowance?</p>
		</div>
		<div class="modal-footer" id='del-allowance-confirm-modal'>
		</div>
	</div>

	<%- include('../../admin/partials/side-nav'); %>
	<div style="padding-left: 1%;">
		<% if(errorMessage) { %>

		<div class="col s8 user-message user-message--error"><%= errorMessage %>
		</div>
		<% } %>
		<% if(navigation.role == 'Admin' || designation === 'HR' ) { %>
			<a class="btn-floating btn-large  waves-effect waves-light indigo-text text-lighten-1"
			href="/settings/allowances/add"><i class="material-icons">add</i></a>
					<%  } %>
		
		<table class="striped responsive-table" id="allowance_table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Amount</th>
					<% if(navigation.role == 'Admin' || designation === 'HR' ) { %>
					<th>Actions</th>
					<%  } %>
				</tr>
			</thead>
			<tbody>
				<% if(allowances.length){
  					for(var i = 0; i< allowances.length; i++) {%>
				<tr id="allowance_id_<%=allowances[i].id %>" data-allowance-id="<%=allowances[i].id %>"
					data-allowance-name="<%= allowances[i].name%>" data-allowance-desc="<%= allowances[i].description%>"
					data-allowance-amount="<%= allowances[i].amount%>">
					<td><%= allowances[i].id%></td>
					<td><%= allowances[i].name%></td>
					<td><%= allowances[i].description%></td>
					<td><%= allowances[i].amount%></td>
					<% if(navigation.role == 'Admin' || designation === 'HR') {%>
					<td>
						<a class="modal-trigger" href="#allowance-edit-modal" id="edit-modal"><i
								class="indigo-text text-lighten-1 material-icons">edit</i></a>
						<%- include('./edit.ejs', {id: allowances[i].id}); %>
						<a href="#modal2" class="modal-trigger"><i
								class="red-text text-lighten-1 material-icons">delete</i></a>
					</td>
					<% } %>
				</tr>
				<% }

  					}else{ %>
				<tr>
					<td colspan="3">No Allowances</td>
				</tr>
				<% } %>
			</tbody>
		</table>

		</br>
		</br>
		</br>
		</br>
	</div>

	<script>
		$(document).ready(function () {
			var elems = document.querySelectorAll('.modal');
			var instances = M.Modal.init(elems, {
				dismissible: true
			});

			$('#allowance_table tbody').on('click', 'a.modal-trigger', function () {
				var $row = $(this).closest("tr"); // Find the row
				var $allowance_id = $row.attr('data-allowance-id');
				// modal population.
				document.querySelector('#del-allowance-confirm-modal').innerHTML =
					`<a href="/settings/allowance/delete/${$allowance_id}" class="modal-close waves-effect waves-green btn-flat" id='${$allowance_id}'>Agree</a>`;
			})
			$('#allowance_table tbody').on('click', '#edit-modal', function () {
				let $row = $(this).closest("tr"); // Find the row
				console.log($row);
				const id = $row.attr('data-allowance-id');
				const name = $row.attr('data-allowance-name');
				const desc = $row.attr('data-allowance-desc');
				const amount = $row.attr('data-allowance-amount');
				$('#allowance_id').val(id);
				$('#allowance_name').val(name);
				$('#allowance_description').val(desc);
				$('#allowance_amount').val(amount);
				$('#edit_old_allowance_record').val(JSON.stringify({
					id: parseInt(id),
					name,
					description: desc,
					amount: parseInt(amount)
				}))
			})
		})
	</script>