<%- include('../../includes/header'); %>

<script>
	$(document).ready(function () {
		$(".chosen-select").chosen({
			no_results_text: "Oops, nothing found!",
			width: "100%",
			search: true,
			placeholder_text_multiple: 'Choose Allowances'
		})
		$('#min_salary').change(function () {
			var min_salary = document.getElementById('min_salary').value
			console.log('min_salary', min_salary)
		})
	});
	document.addEventListener("DOMContentLoaded", function (event) {
		var slider = document.getElementById('slider');
		noUiSlider.create(slider, {
			start: [20, 80],
			tooltips: true,
			orientation: 'horizontal',
			connect: true,
			step: 1,
			range: {
				'min': 1,
				'max': 100000
			}
		});
	});
</script>

<style>
	footer {
		padding-left: 240px
	}

	@media only screen and (max-width: 992px) {
		footer {
			padding-left: 0;
		}

	}

	.footer-copyright .container,
	.footer-copyright .container a {
		color: #BCC2E2;
	}
</style>
</head>

<body>
	<%- include('../../admin/partials/side-nav'); %>

	<div class="container" style="padding-top: 3%; padding-left: 5%;">
		<div class="row">
			<div class="row">
				<form class="col s12" action="/settings/grades/add" method="POST" name="form1">
					<h5><b style="color: coral;">Grade Details</b></h5>
					<div class="divider"></div>
					<br />

					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix">check_box_outline_blank</i>
							<input id="icon_prefix" type="text" class="validate" required="" aria-required="true"
								class="form-control" name="grade_name" id="grade_name" value="">
							<label for="icon_prefix">Grade Name</label>
						</div>
						<div class="input-field col s6">
							<i class="material-icons prefix">grade</i>
							<input id="icon_email" type="text" name="grade_short_form" id="grade_short_form"
								aria-describedby="emailHelp" value="" required="" aria-required="true">
							<label for="icon_email">Grade Short Form</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix">short_text</i>
							<input type="text" class="validate" required="" aria-required="true" class="form-control"
								name="grade_description" id="grade_description" value="">
							<label for="grade_description">Grade Description</label>
						</div>
						<div class="input-field col s1">
							<i class="material-icons prefix">short_text</i>
						</div>
						<div class="input-field col s5">
							<select multiple class="chosen-select" name="selected_allowances">
								<option value=""></option>
								<% if(allowances.length) { 
										for(var i = 0; i< allowances.length; i++) { %>
								<option value="<%=allowances[i].id %>"><%=allowances[i].name%></option>
								<%} } %>

							</select>

						</div>

					</div>
					<div class=" row">
						<div class="input-field col s6">
							<i class="material-icons prefix">money</i>
							<input id="icon_prefix" type="number" class="validate" required="" aria-required="true"
								class="form-control" name="min_salary" id="min_salary" value="">
							<label for="icon_prefix">Minimum Salary</label>
						</div>
						<div class="input-field col s6">
							<i class="material-icons prefix">money</i>
							<input id="icon_prefix" type="number" class="validate" required="" aria-required="true"
								class="form-control" name="max_salary" id="max_salary" value="">
							<label for="icon_prefix">Maximum Salary</label>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<div id="slider"></div>
							<label>Salary Range</label>

						</div>
					</div>
					<div class="row right">
						<div class="input-field col s12">
							<button class="btn waves-effect waves-light" type="submit" value="Add">Submit
								<i class="material-icons right">done</i>
							</button>
							<a class="btn waves-effect waves-light" href="/settings#grades">
								<i class="material-icons right">close</i>Cancel</a>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>

	<%- include('../../includes/footer'); %>