<%- include('../../includes/header'); %>
<link rel="stylesheet" href="/css/home.css">
<script>
	$(document).ready(function () {
		$('#add-grade-form #min_salary').keyup(validateMinMaxSalary)
		$('#add-grade-form #max_salary').keyup(validateMinMaxSalary)
		$(".chosen-select").chosen({
			no_results_text: "Oops, nothing found!",
			width: "100%",
			search: true
		})
	});

	function validateMinMaxSalary(e) {
		const minSal = $('#add-grade-form #min_salary').val();
		const maxSal = $('#add-grade-form #max_salary').val();
		if (+maxSal > 0 && +minSal > 0 && +minSal >= +maxSal) {
			M.toast({
				html: 'Max Salary must be greater than Min Salary!'
			})
		}
		const allowances = $('#add-grade-form #selected_allowances').val()
		console.log('allowances', allowances)
	}
</script>
</head>

<body>
	<%- include('../../admin/partials/side-nav'); %>

	<div class="container" style="padding-top: 3%; padding-left: 5%;">
		<div class="row">
			<div class="row">
				<form class="col s12" action="/settings/grades/add" method="POST" name="form1" id="add-grade-form">
					<h5><b style="color: coral;">Grade Details</b></h5>
					<div class="divider"></div>
					<br />

					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix">check_box_outline_blank</i>
							<input type="text" class="validate" required="" aria-required="true" class="form-control"
								name="grade_name" id="grade_name" value="">
							<label for="grade_name">Grade Name</label>
						</div>
						<div class="input-field col s6">
							<i class="material-icons prefix">grade</i>
							<input type="text" name="grade_short_form" id="grade_short_form"
								aria-describedby="emailHelp" value="" required="" aria-required="true">
							<label for="grade_short_form">Grade Short Form</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix">short_text</i>
							<input type="text" class="validate" required="" aria-required="true" class="form-control"
								name="grade_description" id="grade_description" value="">
							<label for="grade_description">Grade Description</label>
						</div>
						<div class="input-field col s1">
							<i class="material-icons prefix">short_text</i>
						</div>
						<div class="input-field col s5">
							<select multiple  class="chosen-select" name="selected_allowances"
							 id="selected_allowances">
								<option value=""></option>
								<% if(allowances.length) { 
										for(var i = 0; i< allowances.length; i++) { %>
								<option value="<%=allowances[i].id %>"><%=allowances[i].name%></option>
								<%} } %>
							</select>
						</div>
					</div>
					<div class=" row">
						<div class="input-field col s6">
							<i class="material-icons prefix">money</i>
							<input type="number" class="validate" aria-required="true" class="form-control"
								name="min_salary" id="min_salary" value="" min="1" required>
							<label for="min_salary">Minimum Salary</label>
						</div>
						<div class="input-field col s6">
							<i class="material-icons prefix">money</i>
							<input type="number" class="validate" required="" aria-required="true" class="form-control"
								name="max_salary" id="max_salary" value="">
							<label for="max_salary">Maximum Salary</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<select multiple class="chosen-select" name="selected_funds" id="selected_funds">
								<option value="Choose Funds"></option>
								<% if(funds.length) { 
										for(var i = 0; i< funds.length; i++) { %>
								<option value="<%=funds[i].id %>"><%=funds[i].name%></option>
								<%} } %>
							</select>
						</div>
					</div>
					<div class="row right">
						<div class="input-field col s12">
							<button class="btn waves-effect waves-light" type="submit" value="Add">Submit
								<i class="material-icons right">done</i>
							</button>
							<a class="btn waves-effect waves-light" href="/settings#grades">
								<i class="material-icons right">close</i>Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<%- include('../../includes/footer'); %>