<%- include('../includes/header'); %>
<link rel="stylesheet" href="/css/home.css">
<script>
	$(document).ready(function () {
		$('select').formSelect();
		$('.datepicker').datepicker();
	});
</script>
</head>

<body>
	<%- include('../admin/partials/side-nav', {data: name}); %>

	<%- include('../admin/partials/nav-bar.ejs'); %>


	<div class="container" style="padding-top: 3%; padding-left: 5%;">

		<div class="row">
			<% if(errorMessage) { %>

			<div class="col s8 user-message user-message--error"><%= errorMessage %>
			</div>
			<% } %>
			<div class="row">
				<form class="col s12" action="/employee/edit/<%= id %>" method="POST" name="form1">

					<h5><b style="color: coral;">Personal History</b></h5>
					<div class="divider"></div>
					<br />

					<div class="row">
						<div class="input-field col s4">
							<i class="material-icons prefix">account_circle</i>
							<input type="text" class="form-control" required="" aria-required="true" name="name"
								id="name" value="<%= name %>">
							<label for="name">Your Name</label>
						</div>
						<div class="input-field col s4">
							<i class="material-icons prefix">email</i>
							<% if(isEmployee) {%>
							<input type="email" name="email" required="" scale_text aria-required="true" id="email"
								value="<%= email %>" disabled>
							<%} else{ %>
							<input type="email" name="email" required="" scale_text aria-required="true" id="email"
								value="<%= email %>">
							<% } %>
							<label for="email">Email</label>
						</div>
						<div class="input-field col s4">
							<i class="material-icons prefix">phone</i>
							<input id="icon_telephone" type="tel" name="phone" id="phone" value="<%= phone %>"
								required="" aria-required="true" class="validate">
							<label for="icon_telephone">Telephone</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix">home</i>
							<textarea class="materialize-textarea" data-length="120" class="validate" name="address"
								id="address"><%= address %></textarea>
							<label for="address">Address</label>
						</div>
						<div class="input-field col s3">
							<i class="material-icons prefix">date_range</i>
							<% if(isEmployee) {%>
							<input type="text" class="datepicker" name="dob" id="dob" value="<%= dob %>" required=""
								aria-required="true" disabled>
							<%} else{ %>
							<input type="text" class="datepicker" name="dob" id="dob" value="<%= dob %>" required=""
								aria-required="true">
							<% } %>
							<label for="dob">DOB</label>
						</div>
					</div>
					<h5><b style="color: coral;">Employment History</b></h5>
					<div class="divider"></div>
					<br />
					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix">person_add</i>
							<% if(isEmployee) {%>
							<select name="employee_type" disabled>
								<option value="" disabled selected><%= type %></option>
								<% if(employeeTypes.length) { 
										for(var i = 0; i< employeeTypes.length; i++) { %>
								<option value="<%=employeeTypes[i].id %>"><%= employeeTypes[i].employee_type %>
								</option>
								<% } } %>
							</select>
							<%} else{ %>
							<select name="employee_type">
								<option value="" disabled selected><%= type %></option>
								<% if(employeeTypes.length) { 
										for(var i = 0; i< employeeTypes.length; i++) { %>
								<option value="<%=employeeTypes[i].id %>"><%= employeeTypes[i].employee_type %>
								</option>
								<% } } %>
							</select>
							<% } %>
						</div>
						<div class="input-field col s6">
							<i class="material-icons prefix">verified_user</i>
							<% if(isEmployee) {%>
							<select name="designation" disabled>
								<option value="" disabled selected><%= designation  %></option>
								<% if(employeeDesignations.length) { 
										for(var i = 0; i< employeeDesignations.length; i++) { %>
								<option value="<%= employeeDesignations[i].id %>">
									<%= employeeDesignations[i].designation_type %> </option> <% } } %>
							</select>
							<%} else{ %>
							<select name="designation">
								<option value="" disabled selected><%= designation  %></option>
								<% if(employeeDesignations.length) { 
										for(var i = 0; i< employeeDesignations.length; i++) { %>
								<option value="<%= employeeDesignations[i].id %>">
									<%= employeeDesignations[i].designation_type %> </option> <% } } %>
							</select>
							<% } %>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s4">
							<i class="material-icons prefix">date_range</i>
							<% if(isEmployee) {%>
							<input type="text" class="datepicker" name="starting_date" id="starting_date"
								value="<%= starting_date %>" required="" aria-required="true" disabled>
							<%} else{ %>
							<input type="text" class="datepicker" name="starting_date" id="starting_date"
								value="<%= starting_date %>" required="" aria-required="true">
							<% } %>

							<label for="starting_date">Starting Date</label>
						</div>

						<div class="row">
							<div class="file-field input-field col s6">
								<div class="btn">
									<span>Upload Resume</span>
									<input type="file">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text" name="filePath" value="<%= file %>"
										required="" aria-required="true">
								</div>
							</div>
						</div>
					</div>
					<%- include('./salary.ejs'); %>
					<div class="row right">
						<div class="input-field col s12">
							<button class="btn waves-effect waves-light" type="submit" value="Add">Submit
								<i class="material-icons right">person</i>
							</button>
							<a class="btn waves-effect waves-light" href="/employees">
								<i class="material-icons right">close</i>Cancel</a>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>

	<%- include('../includes/footer'); %>