<%- include('../includes/header'); %>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/logs.css">
</head>

<body>
	<%- include('../admin/partials/side-nav'); %>

	<%- include('../admin/partials/nav-bar.ejs'); %>
	<div id="delete_employee" class="modal">
		<div class="modal-content">
			<h4>Delete Employee</h4>
			<p>Are you sure to delete Employee?</p>
		</div>
		<div class="modal-footer" id='del-employee-confirm-modal'>
		</div>
	</div>
	<% if(errorMessage) { %>
	<!-- Modal Structure -->

	<div class="col s8 user-message user-message--error"><%= errorMessage %>
	</div>
	<% } %>
	<main>
	<div style="padding-left: 1%;">
		<% if(!isEmployee) { %>
		<a class="btn blue lighten-2" style="margin-top: 10px;" href="/employee/add" class="btn btn-secondary">New
			Employee</a>
		<% } %>
		
		<table class="striped responsive-table" id="employee_table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Birth Date</th>
					<th>Address</th>
					<th>Hiring Date</th>
					<th>Designation</th>
					<th>Type</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% if(data.length){

  for(var i = 0; i< data.length; i++) {%>
				<tr>
					<td hidden id="employee_id"><%= data[i].id%></td>
					<td><%= data[i].name%></td>
					<td><%= data[i].email%></td>
					<td><%= data[i].phone%></td>
					<td><%= data[i].dob%></td>
					<td><%= data[i].address%></td>
					<td><%= data[i].hiring_date%></td>
					<td><%= data[i].designation%></td>
					<td><%= data[i].employee_type%></td>

					<td>
						<a class="btn-floating waves-effect waves-light modal-trigger edit"
							href="../employee/edit/<%=data[i].id%>"><i class="material-icons">edit</i></a>
							<a class="btn-floating waves-effect waves-light view" href="../employee/view/<%=data[i].id%>"><i class="material-icons">
								remove_red_eye
							</i></a>
						<% if(!isEmployee) { %>
						<a class="btn-floating delete modal-trigger waves-effect waves-light red accent-3"
							href="#delete_employee"><i class="material-icons">delete</i></a>
						<!-- <a class="btn delete modal-trigger red accent-3" href="#delete_employee">Delete</a> -->
						<% } %>
					</td>
				</tr>
				<% }

   }else{ %>
				<tr>
					<td colspan="3">No user</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	
	<%- include('../audit-logs/logs', {data: logsData}); %>
	</main>
	
	
	<%- include('../includes/footer'); %>


	<script>
		$(document).ready(function () {
			var elems = document.querySelectorAll('.modal');
			var instances = M.Modal.init(elems, {
				dismissible: true
			});
			$('#employee_table tbody').on('click', 'a.modal-trigger', function () {
				var $row = $(this).closest("tr"); // Find the row
				var $text = $row.find("#employee_id").text();
				// modal population.
				document.querySelector('#del-employee-confirm-modal').innerHTML =
					`<a href="/employee/delete/${$text}" class="modal-close waves-effect waves-green btn-flat" id='${$text}'>Agree</a>`;
			})
		})
	</script>