<%- include('../includes/header'); %>
<style>
	footer {
		padding-left: 240px
	}

	@media only screen and (max-width: 992px) {
		footer {
			padding-left: 0;
		}

	}

	.footer-copyright .container,
	.footer-copyright .container a {
		color: #BCC2E2;
	}
</style>
</head>

<body>
	<%- include('../admin/partials/side-nav'); %>

	<%- include('../admin/partials/nav-bar.ejs'); %>
	<% if(errorMessage) { %>

	<div class="col s8 user-message user-message--error"><%= errorMessage %>
	</div>
	<% } %>
	<div style="padding-left: 17%;">
		<% if(!isEmployee) { %>
		<a class="btn blue lighten-2" style="margin-top: 10px;" href="/employee/add" class="btn btn-secondary">New
			Employee</a>
		<% } %>
		<table class="striped responsive-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Birth Date</th>
					<th>Address</th>
					<th>Hiring Date</th>
					<th>Designation</th>
					<th>Type</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% if(data.length){

  for(var i = 0; i< data.length; i++) {%>
				<tr>
					<td><%= data[i].name%></td>
					<td><%= data[i].email%></td>
					<td><%= data[i].phone%></td>
					<td><%= data[i].dob%></td>
					<td><%= data[i].address%></td>
					<td><%= data[i].hiring_date%></td>
					<td><%= data[i].designation%></td>
					<td><%= data[i].employee_type%></td>

					<td>
						<a class="btn edit" href="../employee/edit/<%=data[i].id%>">Edit</a>
						<% if(!isEmployee) { %>
						<a class="btn delete modal-trigger red accent-3" href="#modal1">Delete</a>
						<%- include('../includes/confirmation-modal', {data: '../employee/delete/' + data[i].id}); %>
						<% } %>
					</td>

				</tr>
				<% }

   }else{ %>
				<tr>
					<td colspan="3">No user</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		</br>
		</br>
		</br>
		</br>
		<%- include('../audit-logs/logs', {data: logsData}); %>

	</div>


	<%- include('../includes/footer'); %>